/* Styles */
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	overflow: hidden;
	position: fixed;
}

body {
	position: fixed;
	font-size: calc(1.6rem + 0.5vw + 1vh);
    font-family: Calibri;
	background-image: url("pictures/background_river.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;

    width: 100%;
	height: 100%;
    box-sizing: border-box;
}

img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

header {
	font-size: 1.7em;
	text-align: center;
}

footer {
	font-size: 1.3em;
	text-align: center;
}

/* Classes */
/* Flex Setup */
.flexSetup {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
  	align-items: stretch;
  	align-content: stretch;
  	justify-content: initial;

  	width: 100vw;
  	height: 100vh;
}

.flexSetup > section {
	flex: 1 1 auto;
}

.topFlex {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
  	align-items: center;
  	align-content: center;
  	justify-content: center;

	border-bottom-style: solid;
	border-bottom-width: .5rem;
	border-bottom-color: #6D6E71;
	background-color: lightblue;
}

.midFlex {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
  	align-items: center;
  	align-content: center;
  	justify-content: center;
}

.botFlex {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
  	align-items: center;
  	align-content: center;
  	justify-content: center;

	border-top-style: solid;
	border-top-width: .5rem;
	border-top-color: #6D6E71;
	background-color: lightblue;
}

/* Modal Boxes */


/* Memory Game */
.game {
	width: 35vw;
	height: 72vh;

	/* Centers the Game to screen */
	margin: auto;

	display: flex;
	flex-wrap: wrap;
	/*background-color: gray;*/
	perspective: 700px
}

.card {
	position: relative;
	width: calc(25% - 20px);
	height: calc(33.33% - 20px);
	margin: 10px;

	background-color: yellow;
	border-radius: 10px;

	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .2s;
}

.card:hover {
	transform: scale(0.96);
	transition: transform .2s;
	cursor: pointer;
}

.card.flip {
	transform: rotateY(180deg);
	transition: transform .2s;
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.front {
	transform: rotateY(180deg);
}